@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #0B0C10;
    --surface: #1F2833;
    --text: #E5E5E5;
    --text-secondary: #afadad;
    --accent: #D3AF37 ;
    --accent-hover: #b59410;
    --danger: #EF4444;
    --success-green: #087e33;
    --success-blue: #5cc1f0;


    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
    --space-xl: 24px;

    --shadow: 2px 3px 3px hsla(214, 24%, 31%, 0.4);
}

body{
    min-height: 100vh;

    background-color: var(--background);
    color: var(--text);

    font-family: "Montserrat", sans-serif;
}
main{
    display: flex;
    flex-direction: column;

    width: 90vw;
    margin: auto;
}
.form-title{
    font-family: "Cinzel";
    font-size: 1.7em;
    text-align: center;

    margin-top: var(--space-xl);
    margin-bottom: var(--space-md);
    
}

.task-actions{
    width: 100%;
}
.task-form{
    display: flex;
    gap: var(--space-md);
    align-items: center;
}
#input-task{
    flex: 1;

    padding: var(--space-sm);
    border-radius: var(--space-sm);
    border: solid 1px var(--text-secondary);

    font-family: inherit;
}
#input-task::placeholder{
    text-align: center;
}

#add-btn{
    background-color: var(--accent);
    color: var(--background);

    padding: var(--space-md);
    border-radius: var(--space-sm);
    border: solid 1px var(--accent-hover);
    font-family: inherit; 
}
#add-btn:hover{
    background: var(--accent-hover);
}

#task-list{
    margin-top: var(--space-lg);
    width: 100%;
}
#tasks-container{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    list-style: none;
    gap: var(--space-md);
}
.task-item{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--surface);
    border-radius: var(--space-md);
    box-shadow: var(--shadow);

    padding: var(--space-md);
}
.task-info, .task-controls{
    display: flex;
    align-items: center;
    gap:var(--space-md);
}
.task-controls button{
    display: flex;
    align-items: center;
    gap: var(--space-sm);

    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    padding: var(--space-sm);

    transition: color .2s ease, transform .15s ease;
}
.edit-btn:hover{
    color: var(--accent);
}

.save-btn:hover{
    color: var(--success-blue);
}

.delete-btn:hover{
    color: var(--danger);
}
.task-controls button:active{
    transform: scale(.8);
}

.btn-text{
    display: none;
}